[Desktop Entry]
Name=Python Runner
Comment=A lightweight Python code runner.
Exec=/usr/bin/python_runner
Icon=python-runner
Terminal=false
Type=Application
Categories=Utility;Development;
Keywords=python;code;runner;
StartupWMClass=python_runner
